@model MyFinanceCore5_SQLServer.Models.ViewModels.CreateTypePaymenteViewModel

@{
    ViewData["Title"] = "Editar tipo de pagamento";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class=" text d-md-flex flex-row">

    <div class="col-md-8">
        <div>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserId"/>
                <div class="form-group">

                    <label asp-for="FlagCard" class="control-label"></label>
                    <div>

                        <input asp-for="FlagCard" class="form-control" />
                    </div>
                    <span asp-validation-for="FlagCard" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PictureIconId" class="control-label"></label>
                    <select class="form-control"
                            asp-for="PictureIconId"
                            asp-items="ViewBag.icons">
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success "><i class="fas fa-refresh"></i> Salvar</button>
                    <a class="btn btn-outline-info" onclick="window.history.back()"><i class="fa fa-arrow-left"></i> Voltar</a>
                    @*<a class="btn btn-outline-info" asp-action="index"><i class="fa fa-arrow-left"></i> Voltar</a>*@
                </div>
            </form>
        </div>
    </div>

</div>


@*-----------------------------------------------*@

<!--<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header bg-warning text-dark">
            <p class="modal-title text-black-50"><i class="fa fa-refresh fa-lg mr-2"> </i>@ViewData["Title"]</p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class=" text d-md-flex flex-row">

                <div class="col-md-10">
                    <div>
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">

                                <label asp-for="FlagCard" class="control-label"></label>
                                <div>

                                    <input asp-for="FlagCard" class="form-control" />
                                </div>
                                <span asp-validation-for="FlagCard" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PictureIconId" class="control-label"></label>
                                <select class="form-control"
                                        asp-for="PictureIconId"
                                        asp-items="ViewBag.icons">
                                </select>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-success "><i class="fas fa-refresh"></i> Salvar</button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

        </div>
        <div class="modal-footer bg-warning">-->
            @*<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-arrow-left"></i>Voltar</button>*@
        <!--</div>
    </div>
</div>-->