@model int

<button class="btn btn-warning edit" data-toggle="modal" data-id="@Model"><i class="fa fa-edit"></i></button>
<button class="btn btn-success details" data-toggle="modal" data-id="@Model"><i class="fa fa-file-alt"></i></button>
<button class="btn btn-outline-danger delete" data-toggle="modal" data-id="@Model"><i class="fa fa-trash-alt"></i></button>