  <div class="container-fluid">
    &copy; 2022 - Rodolfo Leal Braga - Denvolvido com Am<i class="fa fa-heart text-danger"></i>r
    <span class=""> - </span>
    <a class=" text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contato</a>
</div>