@model MyFinanceCore5_SQLServer.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

    
<h1 class="text-danger">@ViewData["Title"]</h1>
<hr/>

<h4 class="text-danger alert alert-info">@Model.Message</h4>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
